{% extends 'base.html' %}
{% block content %}

<h1>{{ category.parent }} > {{ category.name }}</h1>

{% for article in object_list %}
<div class="card mb-4">
  <div class='card-body'>
    <strong class="d-inline-block mb-2 text-success"><a href='{% url "moviebbs:parent_category" article.category.parent %}'>{{ article.category.parent }}</a> > {{ article.category }}</strong>

    <p>
      {% if article.comments.all %}
        最新のコメント: {{ article.comments.latest.created_at }}<br>
      {% endif %}
    投稿日時：{{ article.created_at }}
    </p>

    <div class="iframe-wrapper">
      {% if article.movie_platform == "youtube" %}
        <iframe src="https://www.youtube.com/embed/{{ article.movie_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      {% elif article.movie_platform == "niconico" %}
        <iframe src="https://embed.nicovideo.jp/watch/{{ article.movie_id }}" title="Niconico video player" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </div>

    <p>{{ article.text }}<a/></p>
    <p><a href='{% url "moviebbs:detail" article.pk %}' class='btn btn-outline-primary'>コメント</a></p>
  </div>
</div>
{% endfor %}

{% if user.is_authenticated %}
    <div>
        <a href='{% url "moviebbs:create" %}' class='btn btn-outline-primary'>新しい投稿</a>
    </div>
{% else %}
    <div>
        <a href='/accounts/login/' class='btn btn-outline-primary'>新しい投稿</a>
    </div>
{% endif %}

<ul class="pagination">
    <!-- 前へ の部分 -->
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% endif %}

    <!-- 数字の部分 -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}

    <!-- 次へ の部分 -->
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</ul>

{% endblock %}
