{% extends 'base.html' %}
{% block content %}

<h1>投稿の新規作成</h1>
<p>※現在Youtubeの動画のみ投稿できます</p>

<form action='' method='post'>
    {% csrf_token %}
    {% bootstrap_form create_form %}
    <button type="submit" class="btn btn-primary" name="button">作成</button>
</form>
<div>
    <a href='JavaScript:history.back()'>&lt; 戻る</a>
</div>

{% endblock %}

{% block extrajs %}
  <script>
      const parentCategoryElement = $('#id_parent_category');
      const categoryElement = $('#id_category');

      const changeCategory = (select) => {
          // 子カテゴリの選択欄を空にする
          categoryElement.children().remove();

          $.ajax({
              url: '{% url 'moviebbs:ajax_get_category' %}',
              type: 'GET',
              data: {
                  'pk': parentCategoryElement.val(),
              }
          }).done(response => {
              // 子カテゴリの選択肢を作成・追加
              for (const category of response.categoryList) {
                  const option = $('<option>');
                  option.val(category['pk']);
                  option.text(category['name']);
                  categoryElement.append(option);
              }

              // 指定があれば、そのカテゴリを選択する
              if (select !== undefined) {
                  categoryElement.val(select);
              }

          });
      };

      parentCategoryElement.on('change', () => {
          changeCategory();
      });

      // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
      if (parentCategoryElement.val()) {
          const selectedCategory = categoryElement.val();
          changeCategory(selectedCategory);
      }
  </script>
{% endblock %}
