{% extends 'base.html' %}
{% block content %}

<div class="card mb-4">
  <div class='card-body'>
    <h1>{{ article.text }}</h1>
    <strong class="d-inline-block mb-2 text-success"><a href='{% url "moviebbs:parent_category" article.category.parent %}'>{{ article.category.parent }}</a> > <a href='{% url "moviebbs:category" article.category.name %}'>{{ article.category }}</a></strong>
    <div class="iframe-wrapper">
      {% if article.movie_platform == "youtube" %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ article.movie_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      {% elif article.movie_platform == "niconico" %}
        <iframe width="560" height="315" src="https://embed.nicovideo.jp/watch/{{ article.movie_id }}" title="Niconico video player" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </div>
    <p>動画タイトル：{{ movie_title }}</p>
    <p>{{ movie_description }}</p>
  </div>
</div>
<div>
    <a href='{% url "moviebbs:index" %}'  class='btn btn-outline-primary'>一覧へ戻る</a>
    {% if request.user.id == object.user_id %}
        <a href='{% url "moviebbs:delete" article.pk %}' class='btn btn-outline-secondary'>削除</a>
    {% endif %}
</div>

<!-- コメントを表示 -->
{% if comments %}
<div class="comments">
  <h2>コメント一覧</h2>
  {% for comment in comments %}
  <div class="comment">
    <p>{{ comment.user }}：{{ comment.created_at }}</p>
    <p>{{ comment.text }}</p>
  </div>
  {% endfor %}
</div>
{% endif %}
<!-- コメント作成フォームを表示 -->
<div class="comment-form">
  <h2>コメント投稿</h2>
  <form action='{% url "moviebbs:comment" article.pk %}' method="post">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <div>
      <button type="submit" class='btn btn-outline-primary'>送信</button>
    </div>
  </form>
</div>

{% endblock %}
