body {
  padding-top: 80px;
}

label {
  display: block;
}

h2 {
    margin: 20px 0;
}

#id_text {
  resize: none;
  width: 100%
}

.container-maxwidth {
    max-width: 730px;
}

.footer {
    background-color: #f5f5f5;
}

/* ページネーション */
ul.pagination {
    margin-top: 20px;
}

/* iframe */
.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* アスペクト比16:9の場合 */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 2rem; /* YouTubeの下に余白をつける */
}
.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ログインフォーム周り */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.signin-body{
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

input#id_remember {
    display: block;
    margin-left: 30px;
}

/* ソーシャルログイン */
.socialaccount_providers {
    padding: 0;
    max-width: 330px;
    margin: auto;
}
.input-group {
	margin: 10px 0px;
}
.addon-google {
	background-color: hsl(345, 83%, 36%);
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}
.btn-google,
.btn-google:hover {
	background-color: hsl(345, 94%, 42%);
	color: #fff;
	border-radius: 0px 2px 2px 0px;
	font-size: 15px;
}
.addon-twitter {
	background-color: #00c6e9;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}
.btn-twitter,
.btn-twitter:hover {
	background-color: #00d7fa;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}
