{% extends "account/base.html" %}

{% block content %}
<h1 class="h3 mb-3 font-weight-normal">新規ユーザー登録</h1>

<div class="card mb-4">
  <div class='card-body'>
    <p>
      ゆっくり村アカウントを<a href='{% url "account_signup" %}'>登録</a>するか、下記のソーシャルアカウントでログインできます。<br>
      ログインするとゆっくり村で動画を紹介したり、コメントの投稿ができるようになります。<br>
      ユーザー名は公開されます。実名（本名）である必要はありません。
    </p>
  </div>
</div>

<form class="form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}<!-- Bootstrapを適用したフォーム -->
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-lg btn-primary btn-block" type="submit">新規登録</button>
</form>
{% endblock %}
